body{
  font-size:2em
    width:100%
}

#rollDice {
  position:absolute;
  background-color: lightblue;
  border-radius: 50px;
  width: 7.5em;
  font-size: 20px;
  font-weight:bold;
  font-variant:small-caps;
}

#rollDice:hover {
  background-color: orange;
}

#rollDice:hover span {
  display: none
}

#rollDice:hover:before {
  content: "Roll Dice"
}

#infoScreen{
  position:relative;
  width:20em;
  height:20em;
  margin-right:0;
  margin-left:auto;
  border-style:solid;
  border-color: green red;
}

#dice{
  position:absolute;
  margin-top:0;
  font-size:2em;
}
